/* CSS styles */

body,
html {
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    text-align: center;
    margin-top: 20px;
}

/* Logo styling */
header img {
    max-width: 50%;
    height: auto;
}

nav {
    background-color: #f9dada;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    margin-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul li a {
    display: inline-block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em;
}

ul li a:hover {
    background-color: #f0f0f0;
    color: #333;
}

/* Banner */

.banner-container {
    padding: 20px;
    background-color: #f9dada;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    text-align: center;
}

.banner-text {
    position: relative;
    padding: 20px;
}

.banner-text h2 {
    font-size: 3em;
    color: #fff;
    margin: 0;
}

.glow-text {
    animation: glowGradient 4s infinite linear;
}

@keyframes glowGradient {
    0% {
        text-shadow: 0 0 10px white;
    }
    25% {
        text-shadow: 0 0 20px white, 0 0 20px #ffd700;
    }
    50% {
        text-shadow: 0 0 30px white, 0 0 30px #ffd700;
    }
    75% {
        text-shadow: 0 0 20px white, 0 0 20px #ffd700;
    }
    100% {
        text-shadow: 0 0 10px white;
    }
}

/* Main content styling */

.main {
    display: grid;
    gap: 20px;
}

/* Banner image styling */

.banner img {
    max-width: 100%;
    height: auto;
}

/* Item container styling */

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Individual item styling */

.item {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #f9dada;
    border-radius: 10px;
}

.item h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5ch;
}

.item p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    line-height: 1.5;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer styling */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.footerlogo img {
    width: 50%;
}

.copywright {
    width: 50%;
    text-align: right;
    border-top: 1px solid black;
    padding-top: 20px;
}

/* Media queries */

@media screen and (max-width: 720px) {
    .header-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 20px;
    }

    nav {
        background-color: #f9dada;
        padding: 10px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    ul li {
        display: block;
        margin: 10px 0;
    }

    ul li a {
        display: block;
        padding: 15px 20px;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        font-size: 1.2em;
    }

    .item-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-column {
        width: 100%;
    }
}

/*About page */

.about-container {
    margin-top: 1px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.about-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #f9dada;
    border-radius: 10px;
}

.about-content h1 {
    margin-bottom: 20px;
}

.about-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .about-image {
        height: 400px;
    }
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 20px;
}

.pink-container {
    background-color: #f9dada;
    border-radius: 10px;
    padding: 20px;
}

.contact-form-container,
.contact-info-container {
    padding: 20px;
    background-color: #f9dada;
    border-radius: 10px;
    text-align: center;
}

.contact-form-container h2,
.contact-info-container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form label,
.contact-form button {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: calc(100% - 20px); /* Adjusted width to consider padding */
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 80px; /* Reduced height */
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}

/* Map container */
.map-container {
    background-color: #f9dada;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    grid-column: span 2;
}
